ProjectDuszanbe.Application/obj/
ProjectDuszanbe.Application/bin/
ProjectDuszanbe.Domain/obj/
ProjectDuszanbe.Domain/bin/
ProjectDuszanbe.Infrastructure/obj/
ProjectDuszanbe.Infrastructure/bin/
ProjectDuszanbe/obj/
ProjectDuszanbe/bin/
