ProjectDuszanbe.Application/obj/
ProjectDuszanbe.Application/bin/
ProjectDuszanbe.Domain/obj/
ProjectDuszanbe.Domain/bin/
ProjectDuszanbe.Infrastructure/obj/
ProjectDuszanbe.Infrastructure/bin/
ProjectDuszanbe/obj/
ProjectDuszanbe/bin/
.idea/.idea.ProjectDuszanbe/.idea/indexLayout.xml
.idea/.idea.ProjectDuszanbe/.idea/riderModule.iml
.idea/.idea.ProjectDuszanbe/.idea/vcs.xml
ProjectDuszanbe/Vocabulary.db-shm
ProjectDuszanbe/Vocabulary.db-wal
